Repository dopeshot/beyond-life, pull requests merged in 2023-05, with the labels that each got.

#70 Feature/38 switchtoggle component
  frontend/src/components/Toggle/Toggle.stories.tsx
  frontend/src/components/Toggle/Toggle.tsx
  frontend/src/components/Toggle/toggle.cy.tsx
Labels: enhancement, frontend

#84 Feature/82 add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: enhancement

#83 fix(gitignore): Add storybook to gitignore
  frontend/.gitignore
Labels: bug, frontend

#80 Feature/79 create placeholder component
  frontend/src/components/Placeholder/Placeholder.tsx
Labels: frontend

#72 Feature/47 add formatter prettier or eslint
  .vscode/extensions.json
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#67 Feature/35 inputtextarea component
  frontend/src/assets/icons/search/search.svg
  frontend/src/components/Form/Label/Label.stories.tsx
  frontend/src/components/Form/Label/Label.tsx
  frontend/src/components/Form/Label/label.cy.tsx
  frontend/src/components/Form/TextInput/TextInput.stories.tsx
  frontend/src/components/Form/TextInput/TextInput.tsx
  frontend/src/components/Form/TextInput/textInput.cy.tsx
  frontend/src/components/Toggle/Toggle.stories.tsx
  frontend/src/components/Toggle/Toggle.tsx
  frontend/src/components/Toggle/toggle.cy.tsx
Labels: frontend
