Repository dopeshot/beyond-life, pull requests merged in 2023-08, with the labels that each got.

#304 fix(backend tests): fix date usage
  backend/src/lastwill/utilities/lastwill-templating.util.spec.ts
Labels: backend

#230 Feature/216 switch current store with redux implementation
  .github/workflows/setup.template.yml
  frontend/content/checkboxOptions.ts
  frontend/content/dropdownOptions.ts
  frontend/content/profilelinks.ts
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/cypress/e2e/last-will/editor/testator.cy.ts
  frontend/cypress/e2e/last-will/pages/start.cy.ts
  frontend/src/app/(dynamic)/last-will/editor/final/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/heirs/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/inheritance/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/layout.tsx
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/succession/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Form/FormStepsButtons/FormStepsButtons.tsx
  frontend/src/components/Form/TextInput/TextInput.tsx
  frontend/src/components/LastWill/LastWill.tsx
  frontend/src/components/Modal/HeirsModal/HeirsOrganisationModal/HeirsOrganisationModal.tsx
  frontend/src/components/Modal/HeirsModal/HeirsPersonModal/HeirsPersonModal.tsx
  frontend/src/services/heirs.ts
  frontend/src/services/heirs.unit.ts
  frontend/src/store/last-will/LastWillContext.tsx
  frontend/src/store/last-will/common/actions.ts
  frontend/src/store/last-will/common/state.ts
  frontend/src/store/last-will/heirs/actions.ts
  frontend/src/store/last-will/heirs/state.ts
  frontend/src/store/last-will/inheritance/actions.ts
  frontend/src/store/last-will/inheritance/state.ts
  frontend/src/store/last-will/marriage/actions.ts
  frontend/src/store/last-will/marriage/state.ts
  frontend/src/store/last-will/reducer.ts
  frontend/src/store/last-will/succession/actions.ts
  frontend/src/store/last-will/testator/actions.ts
  frontend/src/store/last-will/testator/state.ts
  frontend/src/store/last-will/types.ts
  frontend/src/store/lastwill.ts
  frontend/src/store/lastwill.unit.ts
  frontend/src/store/lastwill/lastwill.ts
  frontend/src/store/lastwill/lastwill.unit.ts
  frontend/src/store/store.ts
  frontend/src/types/lastWill.ts
Labels: frontend

#307 Devops/236 deployment
  .github/workflows/audit.template.yml
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Labels: devops

#312 devops(docker compose): fix
  sample.env
Labels: bug, devops

#316 fix(ci): fix broken trigger in frontend ci
  .github/workflows/frontend-ci.yml
Labels: devops

#319 Feature/294 all error messages from form fields into own file and check ux writing
  frontend/content/profileSettings.ts
  frontend/content/validation.ts
  frontend/cypress/e2e/account/settings.cy.ts
  frontend/src/app/(dynamic)/(pages)/account/change-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/reset-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/profile/settings/page.tsx
  frontend/src/components/Form/AccountForm/AccountForm.tsx
Labels: frontend

#320 Feature/313 add fields to get lastwill
  backend/src/db/entities/lastwill.entity.ts
  backend/src/db/entities/users.entity.ts
  backend/src/db/services/user.service.ts
  backend/src/lastwill/lastwill.service.spec.ts
  backend/test/helpers/sample-data.helper.ts
  backend/test/lastwills.e2e-spec.ts
Labels: backend

#314 248 update stripe customer email on user email change only after change is verified obviously
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/payments/payments.module.ts
  backend/src/payments/services/stripe.service.ts
  backend/test/__mocks__/stripeservice.ts
  backend/test/auth.e2e-spec.ts
Labels: backend

#328 update: packages
  backend/package-lock.json
  backend/package.json
Labels: enhancement, backend

#323 Feature/217 initialformvalues from formik outside of component
  frontend/src/app/(dynamic)/(pages)/account/change-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/reset-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/profile/settings/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/start/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/inheritance/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Form/AccountForm/AccountForm.tsx
Labels: frontend

#331 fix codecov cleanup ci
  .github/workflows/post-pr-cleanup.yml
Labels: devops

#311 Feature/241 erbfolge refactor und redesign
  frontend/content/profilelinks.ts
  frontend/src/app/(dynamic)/last-will/editor/succession/page.tsx
  frontend/src/components/Form/TextInput/TextInput.tsx
  frontend/src/components/SuccessionHeir/SuccessionHeir.stories.ts
  frontend/src/components/SuccessionHeir/SuccessionHeir.tsx
  frontend/src/components/SuccessionHeir/successionHeir.cy.tsx
  frontend/src/services/heirs.ts
  frontend/src/services/heirs.unit.ts
  frontend/src/store/lastwill/lastwill.ts
  frontend/src/store/lastwill/lastwill.unit.ts
  frontend/src/types/lastWill.ts
Labels: frontend

#326 Feature/233 testament renderer
  frontend/cypress.d.ts
  frontend/cypress/e2e/last-will/editor/final.cy.ts
  frontend/cypress/fixtures/lastwill/lastWillFulltext.json
  frontend/cypress/support/commands.ts
  frontend/src/app/(dynamic)/last-will/editor/final/page.tsx
  frontend/src/components/LastWill/LastWill.tsx
  frontend/src/services/api/lastwill/lastWillFulltext.ts
  frontend/src/types/lastWill.ts
Labels: frontend

#340 devops(ci): fix cleanup branch name handling
  .github/workflows/post-pr-cleanup.yml
Labels: devops

#341 feat(cleanup): add serialization
  backend/src/profile/profile.controller.ts
  docker-compose.yaml
  sample.env
Labels: backend

#345 ref: rename
  backend/test/auth.e2e-spec.ts
Labels: backend

#344 Feature/334 add logic to create new testament and edit existing one when logged in
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/forgot-password.cy.ts
  frontend/cypress/e2e/last-will/editor/final.cy.ts
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/cypress/e2e/last-will/editor/inheritance.cy.ts
  frontend/cypress/e2e/last-will/editor/marriage.cy.ts
  frontend/cypress/e2e/last-will/editor/succession.cy.ts
  frontend/cypress/e2e/last-will/editor/testator.cy.ts
  frontend/cypress/fixtures/lastwill/singleLastWill.json
  frontend/cypress/fixtures/lastwill/singleLastWillData.json
  frontend/cypress/support/commands.ts
  frontend/src/app/(dynamic)/last-will/(pages)/start/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/inheritance/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/layout.tsx
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/succession/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Form/Checkbox/Checkbox.tsx
  frontend/src/components/Layout/Step/Step.tsx
  frontend/src/components/SuccessionHeir/SuccessionHeir.tsx
  frontend/src/services/api/lastwill/createLastWill.ts
  frontend/src/services/api/lastwill/getLastWillById.ts
  frontend/src/services/api/lastwill/updateLastWillById.ts
  frontend/src/store/lastwill/lastwill.ts
  frontend/src/store/lastwill/lastwill.unit.ts
  frontend/src/types/api.ts
Labels: enhancement, frontend

#347 Feature/232 cleanup logging
  backend/src/auth/auth.service.ts
  backend/src/db/services/lastwill.service.ts
  backend/src/db/services/mail-event.service.ts
  backend/src/db/services/user.service.ts
  backend/src/lastwill/lastwill.service.ts
  backend/src/payments/services/payments.service.ts
  backend/src/payments/services/stripe.service.ts
  backend/src/profile/profile.service.ts
  backend/test/profile.e2e-spec.ts
Labels: backend

#349 add: bruh moment
  backend/src/db/entities/lastwill.entity.ts
  backend/test/lastwills.e2e-spec.ts
Labels: bug, backend

#354 Feature/353 connect payment process to funnel
  frontend/content/sidebar.ts
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/forgot-password.cy.ts
  frontend/cypress/e2e/last-will/pages/buy.cy.ts
  frontend/cypress/e2e/last-will/pages/order-confirmation.cy.ts
  frontend/cypress/fixtures/auth/sessionData.json
  frontend/cypress/fixtures/auth/tokens.json
  frontend/cypress/support/commands.ts
  frontend/src/app/(dynamic)/last-will/(pages)/buy/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/order-confirmation/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/final/page.tsx
  frontend/src/services/api/payment/payment.ts
  frontend/src/services/profile/prepareLastWills.unit.ts
Labels: enhancement, frontend

#356 Feature/242 testament felder anpassen
  frontend/content/dropdownOptions.ts
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Modal/HeirsModal/HeirsPersonModal/HeirsPersonModal.tsx
  frontend/src/store/lastwill/lastwill.unit.ts
  frontend/src/types/lastWill.ts
Labels: frontend

#333 Feature/244 seo
  frontend/src/app/(dynamic)/(pages)/account/change-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/profile/settings/page.tsx
  frontend/src/app/(static)/layout.tsx
  frontend/src/app/(static)/misc/faq/[slug]/page.tsx
  frontend/src/app/(static)/misc/faq/page.tsx
  frontend/src/app/(static)/misc/imprint/page.tsx
  frontend/src/app/(static)/misc/privacy/page.tsx
  frontend/src/app/icon.png
  frontend/src/app/layout.tsx
  frontend/src/app/logo_symbol.png
Labels: frontend

#366 fix: bug with session data failed to set while calling login
  frontend/src/app/(dynamic)/(pages)/account/verify-email/page.tsx
  frontend/src/app/(dynamic)/(pages)/profile/settings/page.tsx
  frontend/src/app/(dynamic)/layout.tsx
  frontend/src/store/auth/auth.ts
  frontend/src/store/auth/auth.unit.ts
Labels: frontend

#365 Fix/246 cleanup frontend
  frontend/content/lastWill.tsx
  frontend/content/validation.ts
  frontend/src/app/(dynamic)/last-will/(pages)/buy/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/plans/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/start/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/inheritance/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/succession/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/app/(static)/page.tsx
  frontend/src/components/Alert/alert.stories.tsx
  frontend/src/components/Form/AccountForm/AccountForm.stories.tsx
  frontend/src/components/Layout/CardWithIcon/CardWithIcon.stories.tsx
  frontend/src/components/Modal/HeirsModal/HeirsOrganisationModal/HeirsOrganisationModal.tsx
  frontend/src/components/Modal/HeirsModal/HeirsPersonModal/HeirsPersonModal.tsx
  frontend/src/components/Navbar/Sidebar/MobileSidebar/MobileSidebar.tsx
Labels: frontend

#373 Fix/372 metadatametadatabase fix
  frontend/.eslintrc.json
  frontend/src/app/(dynamic)/(pages)/account/change-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/verify-email/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/order-confirmation/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/LastWill/LastWill.tsx
Labels: frontend

#348 fix(gen): add descriptions and formatting
  backend/src/lastwill/utilities/lastwill-templating.util.spec.ts
  backend/src/lastwill/utilities/lastwill-templating.util.ts
Labels: backend

#377 fix/374 fix textinput bottom margin
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Form/FormDropdown/FormDropdown.tsx
  frontend/src/components/Form/TextInput/TextInput.tsx
Labels: bug, enhancement, frontend

#371 feat(init data): add lastwill to initial data
  .docker/mongodb-init/mongo-init.js
Labels: devops

#381 add: missing Decorator
  backend/src/lastwill/lastwill.controller.ts
  backend/src/payments/services/payments.service.ts
Labels: bug, backend
