Repository dopeshot/beyond-life, pull requests merged in 2023-07, with the labels that each got.

#213 Feature/123 date picker component
  frontend/src/components/Form/FormDatepicker/FormDatepicker.stories.tsx
  frontend/src/components/Form/FormDatepicker/FormDatepicker.tsx
  frontend/src/components/Form/FormDatepicker/formDatepicker.cy.tsx
Labels: enhancement, frontend

#228 Feature/149-stripe-integration
  README.md
  backend/package-lock.json
  backend/package.json
  backend/sample.env
  backend/src/app.module.ts
  backend/src/db/entities/users.entity.ts
  backend/src/db/services/user.service.ts
  backend/src/main.ts
  backend/src/payments/interfaces/payments.ts
  backend/src/payments/payments.controller.ts
  backend/src/payments/payments.module.ts
  backend/src/payments/services/payments.service.ts
  backend/src/payments/services/stripe.service.ts
  backend/test/__mocks__/stripeservice.ts
  backend/test/helpers/config-service.helper.ts
  backend/test/helpers/sample-data.helper.ts
  backend/test/payments.e2e-spec.ts
  backend/test/profile.e2e-spec.ts
  sample.env
Labels: backend

#226 Add frontend test coverage
  .github/badges/.gitkeep
  .github/badges/frontend-coverage.svg
  .github/workflows/backend-ci.yml
  .github/workflows/codecov.template.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/setup.template.yml
  README.md
  frontend/.ci.babelrc
  frontend/.gitignore
  frontend/content/profilelinks.ts
  frontend/cypress.config.ts
  frontend/cypress/support/component.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(dynamic)/last-will/editor/inheritance/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/Headline/Headline.tsx
  frontend/src/components/Navbar/Sidebar/MobileSidebar/MobileSidebar.tsx
  frontend/src/services/font/font.ts
  frontend/src/store/lastwill.ts
  frontend/tailwind.config.js
Labels: frontend, devops

#215 Feature/19 paywall pages
  frontend/content/paymentPlans.ts
  frontend/env.d.ts
  frontend/src/app/(dynamic)/(pages)/account/change-password/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/login/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/register/page.tsx
  frontend/src/app/(dynamic)/(pages)/account/reset-password/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/auth/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/buy/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/page.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/plans/page.tsx
  frontend/src/app/(static)/page.tsx
  frontend/src/assets/images/layout/testamentPreview.jpg
  frontend/src/components/Navbar/Navbar/Navbar.tsx
  frontend/src/components/PaymentPlan/PaymentPlan.stories.tsx
  frontend/src/components/PaymentPlan/PaymentPlan.tsx
  frontend/src/components/PaymentPlan/paymentPlan.cy.tsx
  frontend/src/services/routes/routes.ts
  frontend/src/services/routes/routes.unit.ts
Labels: enhancement, frontend

#227 Feature/171 autocomplete to textinputs
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/cypress/e2e/last-will/editor/marriage.cy.ts
  frontend/cypress/e2e/last-will/editor/testator.cy.ts
  frontend/src/app/(dynamic)/(pages)/profile/settings/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/marriage/page.tsx
  frontend/src/app/(dynamic)/last-will/editor/testator/page.tsx
  frontend/src/components/Form/FormDatepicker/FormDatepicker.tsx
  frontend/src/components/Form/FormDatepicker/formDatepicker.cy.tsx
  frontend/src/components/Form/TextInput/TextInput.tsx
  frontend/src/components/Modal/HeirsModal/HeirsOrganisationModal/HeirsOrganisationModal.tsx
  frontend/src/components/Modal/HeirsModal/HeirsPersonModal/HeirsPersonModal.tsx
Labels: frontend

#267 Update user.service.ts
  backend/src/db/services/user.service.ts
Labels: bug, backend

#222 Feature/127 add checkbox possibility to add tooltip
  .github/badges/.gitkeep
  .github/badges/frontend-coverage.svg
  frontend/content/checkboxOptions.ts
  frontend/content/dropdownOptions.ts
  frontend/src/components/Form/Checkbox/Checkbox.tsx
  frontend/src/components/Form/FormDropdown/FormDropdown.tsx
  frontend/src/components/Form/FormDropdown/formdropdown.cy.tsx
  frontend/src/components/Modal/ModalBase/Modal.tsx
  frontend/src/components/Tooltip/Tooltip.tsx
  frontend/src/components/Tooltip/Tooltips.stories.tsx
  frontend/src/components/Tooltip/tooltip.cy.tsx
  frontend/src/types/form.ts
Labels: enhancement, frontend

#279 Feature/22 testament crud endpoints
  .github/badges/backend-coverage.svg
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/strategies/refresh-token.strategy.ts
  backend/src/auth/strategies/verify-token.strategy.ts
  backend/src/db/db.module.ts
  backend/src/db/entities/index.ts
  backend/src/db/entities/lastwill.entity.ts
  backend/src/db/entities/users.entity.ts
  backend/src/db/services/lastwill.service.ts
  backend/src/db/services/mail-event.service.ts
  backend/src/db/services/user.service.ts
  backend/src/lastwill/dto/create-lastwill.dto.ts
  backend/src/lastwill/dto/update-lastwill.dto.ts
  backend/src/lastwill/lastwill.controller.ts
  backend/src/lastwill/lastwill.module.ts
  backend/src/lastwill/lastwill.service.ts
  backend/src/mail/services/scheduler.service.ts
  backend/src/main.ts
  backend/src/payments/interfaces/payments.ts
  backend/src/payments/payments.controller.ts
  backend/src/payments/services/payments.service.ts
  backend/src/profile/profile.service.ts
  backend/test/helpers/sample-data.helper.ts
  backend/test/lastwills.e2e-spec.ts
Labels: backend

#285 Fix and cleanup some swagger
  backend/src/auth/auth.controller.ts
  backend/src/auth/dtos/forgot-password.dto.ts
  backend/src/auth/strategies/verify-token.strategy.ts
  backend/src/lastwill/lastwill.controller.ts
  backend/src/payments/payments.controller.ts
  backend/src/profile/profile.controller.ts
Labels: backend

#229 Feature/219-payment-success-page
  .github/badges/frontend-coverage.svg
  frontend/.eslintrc.json
  frontend/content/order-confirmation.ts
  frontend/cypress/e2e/last-will/pages/order-confirmation.cy.ts
  frontend/src/app/(dynamic)/last-will/(pages)/order-confirmation/page.tsx
  frontend/src/components/PaymentSummaryTable/PaymentSummaryTable.stories.ts
  frontend/src/components/PaymentSummaryTable/PaymentSummaryTable.tsx
  frontend/src/components/PaymentSummaryTable/paymentSummaryTable.cy.tsx
Labels: frontend

#289 add: delete user also deletes their last wills
  backend/src/db/services/lastwill.service.ts
  backend/src/profile/profile.controller.ts
  backend/src/profile/profile.service.ts
  backend/test/profile.e2e-spec.ts
Labels: backend

#290 add: paymentPlan to JWT user
  backend/src/auth/auth.service.ts
  backend/src/payments/services/payments.service.ts
  backend/src/shared/interfaces/jwt-payload.interface.ts
  backend/test/auth.e2e-spec.ts
Labels: backend

#276 Feature/184 content
  frontend/content/lastWill.tsx
  frontend/src/app/(dynamic)/last-will/(pages)/start/page.tsx
  frontend/src/app/(static)/page.tsx
  frontend/src/assets/images/layout/family.jpg
  frontend/src/assets/images/layout/family2.jpg
  frontend/src/assets/images/layout/family3.jpg
  frontend/src/assets/images/tutorial/final.jpg
  frontend/src/assets/images/tutorial/heirs.jpg
  frontend/src/assets/images/tutorial/testator.jpg
  frontend/src/components/Errors/BaseError/BaseError.tsx
Labels: enhancement, frontend

#260 Feature/179 legal pages
  frontend/src/app/(static)/misc/imprint/page.tsx
  frontend/src/app/(static)/misc/privacy/page.tsx
  frontend/src/assets/images/email/email.png
  frontend/src/services/routes/routes.ts
  frontend/src/services/routes/routes.unit.ts
Labels: frontend

#288 Feature/41 lastwill text generation
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/src/db/entities/lastwill.entity.ts
  backend/src/db/services/user.service.ts
  backend/src/lastwill/dto/generated-lastwill.dto.ts
  backend/src/lastwill/lastwill.controller.ts
  backend/src/lastwill/lastwill.service.spec.ts
  backend/src/lastwill/lastwill.service.ts
  backend/src/lastwill/utilities/grammar.utils.spec.ts
  backend/src/lastwill/utilities/grammar.utils.ts
  backend/src/lastwill/utilities/lastwill-templating.util.spec.ts
  backend/src/lastwill/utilities/lastwill-templating.util.ts
  backend/src/profile/profile.service.ts
  backend/test/auth.e2e-spec.ts
  backend/test/lastwills.e2e-spec.ts
  backend/test/profile.e2e-spec.ts
Labels: backend
