Repository dopeshot/beyond-life, pull requests merged in 2023-06, with the labels that each got.

#87 Feature/58 sidebarnavbar component
  frontend/next.config.js
  frontend/src/app/(global)/page.tsx
  frontend/src/app/last-will/(editor)/[id]/marriage/page.tsx
  frontend/src/app/last-will/(editor)/layout.tsx
  frontend/src/app/last-will/[id]/marriage/page.tsx
  frontend/src/assets/logo/logo.png
  frontend/src/components/Form/Label/label.cy.tsx
  frontend/src/components/Form/TextInput/textInput.cy.tsx
  frontend/src/components/Headline/headline.cy.tsx
  frontend/src/components/Navbar/Sidebar/Sidebar.tsx
  frontend/src/components/Navbar/Sidebar/SidebarButton/SidebarButton.stories.tsx
  frontend/src/components/Navbar/Sidebar/SidebarButton/SidebarButton.tsx
  frontend/src/components/Navbar/Sidebar/SidebarButton/sidebarButton.cy.tsx
  frontend/src/components/Navbar/Sidebar/sidebar.cy.tsx
  frontend/src/components/Navbar/Sidebar/sidebar.stories.tsx
  frontend/src/components/Toggle/toggle.cy.tsx
  frontend/src/services/routes/routes.ts
  frontend/src/types/sidebar.ts
Labels: enhancement, frontend

#95 Feature/36 selectdropdown component
  frontend/package-lock.json
  frontend/src/components/Form/Dropdown/Dropdown.stories.tsx
  frontend/src/components/Form/Dropdown/Dropdown.tsx
  frontend/src/components/Form/Dropdown/dropdown.cy.tsx
  frontend/src/components/Form/Label/Label.tsx
  frontend/src/types/dropdownOptions.ts
Labels: enhancement, frontend

#102 fix(tailwindcss): add all class names to tw intellisense
  .vscode/settings.json
  frontend/package.json
Labels: bug, frontend

#120 Fix/118 fix flacky e2e tests
  frontend/cypress/e2e/last-will/pages/start.cy.ts
  frontend/src/app/layout.tsx
Labels: frontend

#122 Fix/121 probleme static export at use client pages
  frontend/src/app/last-will/editor/final/page.tsx
  frontend/src/app/last-will/editor/heirs/page.tsx
  frontend/src/app/last-will/editor/inheritance/page.tsx
  frontend/src/app/last-will/editor/layout.tsx
  frontend/src/app/last-will/editor/marriage/page.tsx
  frontend/src/app/last-will/editor/succession/page.tsx
  frontend/src/app/last-will/editor/testator/page.tsx
  frontend/src/services/routes/routes.ts
  frontend/src/services/routes/routes.unit.ts
Labels: bug, frontend

#143 Fix/Changed labelRequired to inputRequired
  frontend/src/app/last-will/editor/marriage/page.tsx
  frontend/src/components/Form/Checkbox/Checkbox.cy.tsx
  frontend/src/components/Form/Checkbox/Checkbox.stories.tsx
  frontend/src/components/Form/Checkbox/Checkbox.tsx
Labels: frontend

#115 Feature/63 testament erben
  frontend/content/checkboxOptions.ts
  frontend/content/dropdownOptions.ts
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/cypress/e2e/last-will/editor/inheritance.cy.ts
  frontend/cypress/e2e/last-will/editor/testator.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(global)/account/login/page.tsx
  frontend/src/app/(global)/account/register/page.tsx
  frontend/src/app/(global)/layout.tsx
  frontend/src/app/last-will/(pages)/auth/page.tsx
  frontend/src/app/last-will/(pages)/buy/page.tsx
  frontend/src/app/last-will/(pages)/layout.tsx
  frontend/src/app/last-will/editor/heirs/page.tsx
  frontend/src/app/last-will/editor/marriage/page.tsx
  frontend/src/app/last-will/editor/testator/page.tsx
  frontend/src/components/ButtonsAndLinks/Button/Button.tsx
  frontend/src/components/ButtonsAndLinks/DropdownButton/DropdownButton.stories.tsx
  frontend/src/components/ButtonsAndLinks/DropdownButton/DropdownButton.tsx
  frontend/src/components/Errors/FormError/FormError.tsx
  frontend/src/components/Form/Checkbox/Checkbox.stories.tsx
  frontend/src/components/Form/FormDropdown/FormDropdown.stories.tsx
  frontend/src/components/Form/FormDropdown/FormDropdown.tsx
  frontend/src/components/Form/FormDropdown/formdropdown.cy.tsx
  frontend/src/components/Form/Toggle/Toggle.stories.tsx
  frontend/src/components/Modal/HeirsModal/HeirsOrganisationModal/HeirsOrganisationModal.tsx
  frontend/src/components/Modal/HeirsModal/HeirsPersonModal/HeirsPersonModal.tsx
  frontend/src/components/Modal/ModalBase/Modal.tsx
  frontend/src/components/Modal/ModalBase/modal.stories.tsx
  frontend/src/components/Navbar/GlobalFooter/GlobalFooter.tsx
  frontend/src/services/font/font.ts
  frontend/src/store/last-will/LastWillContext.tsx
  frontend/src/store/last-will/heirs/actions.ts
  frontend/src/store/last-will/heirs/state.ts
  frontend/src/store/last-will/marriage/actions.ts
  frontend/src/store/last-will/marriage/api.ts
  frontend/src/store/last-will/marriage/state.ts
  frontend/src/store/last-will/reducer.ts
  frontend/src/store/last-will/testator/actions.ts
  frontend/src/store/last-will/testator/state.ts
  frontend/src/store/last-will/types.ts
  frontend/src/types/dropdownOptions.ts
  frontend/src/types/gender.ts
Labels: frontend

#141 Feature/104 mobile sidebar
  frontend/content/sidebar.ts
  frontend/cypress/e2e/last-will/editor/heirs.cy.ts
  frontend/cypress/e2e/last-will/editor/inheritance.cy.ts
  frontend/cypress/e2e/last-will/editor/marriage.cy.ts
  frontend/cypress/e2e/last-will/editor/testator.cy.ts
  frontend/src/app/(global)/layout.tsx
  frontend/src/app/last-will/(pages)/layout.tsx
  frontend/src/app/last-will/(pages)/start/page.tsx
  frontend/src/app/last-will/editor/final/page.tsx
  frontend/src/app/last-will/editor/heirs/page.tsx
  frontend/src/app/last-will/editor/inheritance/page.tsx
  frontend/src/app/last-will/editor/layout.tsx
  frontend/src/app/last-will/editor/marriage/page.tsx
  frontend/src/app/last-will/editor/succession/page.tsx
  frontend/src/app/last-will/editor/testator/page.tsx
  frontend/src/components/Navbar/Navbar/Navbar.tsx
  frontend/src/components/Navbar/Sidebar/MobileSidebar/MobileSidebar.tsx
  frontend/src/components/Navbar/Sidebar/MobileSidebar/mobileSidebar.cy.tsx
  frontend/src/components/Navbar/Sidebar/MobileSidebar/mobileSidebar.stories.tsx
  frontend/src/components/Navbar/Sidebar/Sidebar.tsx
  frontend/src/components/Navbar/Sidebar/SidebarButton/SidebarButton.tsx
  frontend/src/components/Navbar/Sidebar/SidebarButton/sidebarButton.cy.tsx
  frontend/src/components/Navbar/Sidebar/sidebar.stories.tsx
  frontend/src/store/last-will/common/state.ts
  frontend/src/types/sidebar.ts
Labels: enhancement, frontend

#137 Feature/136 Testament Zusammenfassung
  frontend/src/app/last-will/editor/final/page.tsx
  frontend/src/components/LastWill/LastWill.tsx
  frontend/src/store/last-will/heirs/state.ts
  frontend/src/store/last-will/inheritance/state.ts
  frontend/src/store/last-will/marriage/state.ts
Labels: enhancement, frontend
